/* -------------------- VARIABLES */
/* -------------------- GLOBAL DEFAULTS */
body {
    background-color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-size: 18px;
    line-height: 1.3;

    box-sizing: border-box;
}

img {
    max-width: 100%
}
/* -------------------- HEADINGS AND TYPE */
h1 {
    font-family: 'Sen', sans-serif;
    font-size: 50px;
    color:#68c187;
}
h2,
h3 {
    font-family: 'Sen', sans-serif;
}
p {
    color: rgb(57, 64, 94);

}
/* -------------------- LAYOUTS */

.content {
    background-color: turquoise;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 3%;
    padding-right: 3%;
}


/* -------------------- HEADER */
header {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* -------------------- NAVIGATION */
/* -------------------- FOOTER */
footer{
    background-color: seagreen;
}
/* -------------------- MODULES */


